@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:wght@700&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Noto+Sans:wght@400;700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Sarala:wght@400;700&family=Silkscreen&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

.container {
    display: flex;
}

.profile {
    background: #302F3D;
    
    width: 348px;
    height: 292px;
    margin: 40px 60px 30px 40px;

    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border: 2px solid #00ff00;

    border-radius: 50%;

    margin-top: 32px;
    margin-bottom: 30px;
}

.eclipse {
    color: #837E9F;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.eclipse h1 {
    width: 350px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
}

.eclipse p {
    height: 17px;
    width: 128px;

    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    width: 348px;
    height: 348px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    margin: 0px 60px 30px 40px;
}

.links img {
    height: 24px;
    width: 24px;

    margin: 30px 20px 20px 40px;
}

.links p {
    width: 35px;
    height: 16px;
    margin: 34px 229px 28px 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #837E9F;
}

.links section {
    display: flex;

    height: 45px;
}

.technologias {
    width: 348px;
    height: 208px;
    margin: 0px 1052px 30px 40px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.technologias h1 {
    width: 121px;
    height: 26px;
    margin: 30px 207px 20px 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #837E9F;
}

.technologias_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin: 0 30px 30px 30px;
}

.group {
    width: 86px;
    height: 24px;
    margin: 0px 10px 15px 10px;

    background: #CB92B1;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.group h1 {
    width: 86px;
    height: 11px;
    margin: 6px 0px 7px 0;

    font-style: normal;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    justify-content: center;

    color: #000000;
}

.experiences {
    width: 348px;
    height: 349px;

    margin: 0px 1052px 30px 40px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.experiences h1{
    width: 141px;
    height: 26px;

    margin: 30px 187px 20px 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #837E9F;
}

.experiences_section {
    margin: 0 133px 30px 40px;

    width: 175px;
    height: 243px;

    display: flex;
    flex-direction: column;
}

.experiences_section section {
    margin: 0px 0px 10px 0px;
}

.experiences_section li {
    font-weight: 400;
    font-size: 14px;
    line-height: 15.08px;

    color: var(--text-color);
}

.experiences_section span {
    font-weight: 300;
    font-size: 12px;
    line-height: 15.08px;

    color: var(--text-color);
}

.education {
    height: 352px;
    width: 348px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    margin: 0px 1052px 58px 40px;

    display: flex;
    flex-direction: column;
}

.education h1 {
    width: 141px;
    height: 26px;

    margin: 30px 187px 20px 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #837E9F;
}

.education_section {
    margin: 0px 133px 30px 40px;

    width: 175px;
    height: 246px;

    display: flex;
    flex-direction: column;
}

.education_section section {
    margin: 0px 0px 20px 0px;
}

.education_section li {
    font-weight: 700;
    font-size: 14px;
    line-height: 17.6px;

    color: #837E9F;
}

.education_section span {
    font-weight: 300;
    font-size: 12px;
    line-height: 15.08px;

    color: #837E9F;

    display: flex;
    flex-direction: column;
}

.projects {
    width: 952px;
    height: 86px;
    
    margin: 40px 40px 31px 0px;

    background: #302f3d;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    display: flex;
}

.projects h1 {
    width: 121px;
    height: 26px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    margin: 30px 700px 30px 30px;

    color: #837E9F;
}

.projects p {
    width: 71px;
    height: 18px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    margin: 34px 30px 34px 0px;

    color: #837E9F;

    cursor: pointer;
}

.box {
    display: flex;
    height: 380px;
}

.recent_posts {
    width: 952px;
    height: 86px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    margin: 0px 40px 30px 0px;
}

.recent_posts h1 {
    width: 140px;
    height: 26px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    margin: 30px 782px 30px 30px;

    color: #837E9F;
}

.post {
    width: 952px;
    height: 201px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    margin: 0px 40px 1077px 0px;
    
    display: flex;
}

.chest {
    display: flex;
    flex-direction: column;
}

.post img {
    width: 128px;
    height: 128px;

    border-radius: 50%;

    margin: 31px 20px 42px 30px;
}

.group_post {
    width: 612px;
    height: 129px;

    margin: 30px 162px 42px 0px;
}

.group_post h1 {
    width: 612px;
    height: 31px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    color: #837E9F;

    margin: 0;
}

.group_post p {
    width: 83px;
    height: 18px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #837E9F;

    margin: 0px 0px 28px 0px;
}

.group_post h2 {
    width: 501px;
    height: 20px;

    font-size: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #837E9F;

    margin: 0px 0px 11px 0px;
}

.group_hashtag {
    width: 446px;
    height: 21px;

    display: flex;
}

.group_hashtag p {
    width: 110px;
    height: 21px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #837E9F;
}

.container_projects {
    display: flex;
    flex-direction: column;
}

.project1 {
    width: 461px;
    height: 186px;

    background: #302f3d;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    margin: 0px 30px 30px 0px;

    display: flex;
    flex-direction: column;
}

.project1 h4 {
    margin-left: 30px;
    line-height: 20px;

    color: #837E9F;
}

.project2 {
    width: 461px;
    height: 186px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    margin: 0px 40px 30px 0px;
}

.box_projects {
    display: flex;
}

.tuta {
    display: flex;
    align-items: center;

    margin: 30px 0 20px 30px;

    gap: 16px;
}

.tuta h3 {
    color: #837E9F;
}

.arthur {
    margin-top: 30px;
    margin-left: 30px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.arthur h6 {
    color: #837E9F;
}

.alcantara {
    display: flex;

    margin-left: 181px;

    gap: 8px;
}

.alcantara h5 {
    width: 69px;
    height: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #837E9F;
}